body {
	color:#fff;
	background-color: #cdcec3;
	background-attachment:fixed;
	background-size:cover;
	background-repeat: no-repeat;
	font-size:16px;
	font-weight:100;
}

#wrapper {
	width: 1200px;
}

h1 {
	font-size: 1.3em;
	font-family: "Nanum Myeongjo", serif;
	color: #FFFF33;
	line-height: 2.3em; 
	font-weight: bold;
	border-bottom: solid #FFFF33;
	border-style: block;
	background-color: #334339;
	margin: 20 50 0 50;
	width: 160px;
	padding: 20px;
}

img {
	width: 150px;
}

nav {
	background-color: #334339;
	font-family: Verdana, sans-serif;
	width: 200px;
	margin: 0 50px;
	float: left;
	padding-bottom: 40px;
}

a { 
	text-decoration: none;
	background-color: #334339;
	color: white;
	display: block;
	padding: 20px
}

a:hover {
	background-color: yellow;
}

p {
	padding: 20px;
	border-bottom: solid #FFFF33;
}

#maincontent {
	width: 75%;
	float: right;
	text-align: center;
}

h2 {
	color: black;
	font-size: 1.5em;
	font-weight: bold;
}

#ipsem {
	text-align: left;
	font-size: 1.2em;
	line-height: 1.3em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}