body {
	color:#fff;
	background-image:url("Hero3.jpg");
	background-size:cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: Verdana, sans-serif;
	font-size:16px;
	font-weight:100;
}
header {
	background-color: #334339;
	color:#ff3;
	float: left;
	margin: 0 50px;
	padding:1em 0;
	width: 200px;
}
nav {
}

nav a { 
	text-decoration: none;
	color: white;
	display: block;
	padding: 20px;
}

nav a:hover {
	background-color: yellow;
}

nav p {
	padding: 20px;
	border-bottom: solid #FFFF33;
}
h1 {
	border-bottom: solid #FFFF33;
	border-style: block;
	font-size: 1.3em;
	font-family: "Nanum Myeongjo", serif;
	font-weight: bold;
	padding-bottom:1em;
}

h2 {
	color: #FE5B35;
	font-size: 2.4em;
	font-weight: bold;
}
img {
	width: 150px;
}
.wrapper {
	max-width: 1200px;
}
#maincontent {
	margin: 60px;
	width: 670px;
	float: right;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
